html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(11%)
    saturate(134%) hue-rotate(250deg) brightness(120%) contrast(100%);

  --body-bg-color: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-separate-bg-color: #ededf6;
}
